.select-product-option{
z-index: 5;
}

.place-form {
    position: relative;
    list-style: none;
    margin: 20px auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
  
  
  .place-form-edit {
    position: relative;
    list-style: none;
    margin: 0 auto;
    margin-top: 30px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
  .button-edit-form{
    display: flex;
    justify-content: flex-end;
  }

.data-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.price-info{
  display: flex;
  justify-content: center;
  margin:10px;
  padding:10px;
}
.saber-item-container{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
}


.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}